*{
    margin: 0;
    padding: 0;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.name{
    color: black;
    padding: 5px;
    margin-top: 50px;
    font-weight: bolder;
    font-size: 20px;
    
}
body{
    background-color: grey;
        background-image: url('image/bg2.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

nav{
    display: flex;
    padding: 2.5% 3%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 165, 0);
    width: 100%;
    height: 30px;
    font-size: medium;
}

nav img{
    width: 60px;    
}

.nav-links{
    flex: 1;
    text-align: left;
    margin-top: 20px;
}

.nav-links ul li{
    list-style: none;
    display: inline-flex;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.nav-links ul li ::after{
    content: '';
    width: 0;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover ::after{
    width: 100%;
}

.container{
    width: 100%;
    height: 90vh;
    background-color: white;
    display: flex; 
}

.swiper{
    width: 100%;
    height: 100%;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #eee;
}

.swiper .swiper-pagination-bullet-active{
    background: white;
}

a{
    text-decoration: none;
}

ul{
    padding-left: 0;
}

input:focus{
    outline: none;
}
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
    color: #ffffff;
}

.fa {
    font-size: 20px;
    align-content: end;
    justify-content: end;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica, sans-serif;
  }
  
  p {text-align: left;}
  
  a {text-decoration: none;}
  
  a:hover {color: #2196F3;}

  /* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* padding */
  .row {margin: 10px 5px;}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  /* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #d3d3d3 ;
  }
