*{
    margin: 0;
    padding: 0;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.name{
    color: black;
    padding: 5px;
    margin-top: 50px;
    font-weight: bolder;
    font-size: 20px;
    
}
body{
    background-color: grey;
        background-image: url('image/bg2.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

nav{
    display: flex;
    padding: 2.5% 3%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 165, 0);
    width: 100%;
    height: 30px;
    font-size: medium;
}

nav img{
    width: 60px;    
}

.nav-links{
    flex: 1;
    text-align: left;
    margin-top: 20px;
}

.nav-links ul li{
    list-style: none;
    display: inline-flex;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.nav-links ul li ::after{
    content: '';
    width: 0;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover ::after{
    width: 100%;
}

*{padding:0; margin:0; box-sizing: border-box; font-family:sans-serif;}
header{
	width: 100vw;
	min-height: 100vh;
	background: #34495e;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	background: white;
	max-width: 800px;
	min-height: 500px;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.5rem 1.5rem;
}
.left{
	flex-basis: 50%;
}
.right{
	flex-basis: 50%;
}
form{
	padding: 1rem;
}

h3{
	margin-top: 1rem;
	color:#2c3e50;
	}

form input[type="text"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}

#zip{
	display: flex;
	margin-top: 0.5rem;
}
#zip select{
	padding: 0.5rem 0.7rem;
}
#zip input[type="number"]{
	padding: 0.5rem 0.7rem;
	margin-left: 5px;	
}
input[type="submit"]{
	width: 100%;
	padding: 0.7rem 1.5rem;
	background: #34495e;
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
}

input[type="submit"]:hover{
	background: #2c3e50;
}


@media only screen and (max-width: 770px){
	.container{
		flex-direction: column;
	}
	body{
		overflow-x: hidden;
	}
}

.footer{
    width: 100%;
    height: 60vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}
.footer-about{
    margin-bottom: 30px;
}

.footer-about p{
    color: #b7b7b7;
    margin-bottom: 30px;
}
.footer-widget{
    margin-bottom: 30%;
}
.footer-widget h6{
    color:  #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.footer-widget ul li{
    line-height: 36px;
    list-style: none;
}
.footer-widget ul li a{
    color: #b7b7b7;
    font-size: 15px;
}
.footer-widget ul li a:hover{
    color: #e53637;
}
.footer-widget .footer-newsletter p{
    color: #b7b7b7;
}
.footer-widget .footer-newsletter form{
    position: relative;
}
.footer-widget .footer-newsletter form input{
    width: 100%;
    font-size: 15px;
    color: #ffffff;
    background: transparent;
    border: none;
    padding: 15px 0;
    border-bottom: 2px solid #ffffff;
}
.footer-widget .footer-newsletter form input::placeholder{
    color: #b7b7b7;
}
.footer-widget .footer-newsletter form button{
    color: #b7b7b7;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    background: transparent;
    border: none;
}
.footer-copyright-text{
    border-top: 1px solid rgba(240, 9, 9, 0.1);
    padding: 3px 0;
    margin-top: 40px;
}
.footer-copyright-text p{
    color: #b7b7b7;
    margin-bottom: 0;
}
.footer-copyright-text p i{
    color: #e53637;
}
.footer-copyright-text p a{
    color: #e53637;
}
